*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.bold_para{
    font-weight: bold;
    color: #FFF;
}
.para{
text-align: justify;
}
/* Top Link Opened */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
/* Progression Bar Opened */
.header h6 {
  text-align: center;
  color: #FFF;
}

.progress-container {
  width: 100%;
  height: 10px;
}

.progress-bar {
  height: 7px;
  background: #2f467e;
  width: 0%;
}
/* Progress Bar Closed */

/* Top Link Closed */

/* Menu bar near Logo Opened */
.menu_listing{
    list-style: none;
    background: #FFF;
}
.dropdown-menu{
    width:330px;
}
/* menu bar near Logo Closed */

/* Breadcrumb Pagination Opened */
ul.breadcrumb {
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* Breadcrumb Pagination Closed */
/* Footer Opened */
ul li {
  list-style: none;
  float: left;
}
/* Footer Closed */

/* Flip Image Opened */
.flip-card {
  background-color: transparent;
  width: 270px;
  height: 165px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
} 
/* Flip Image Closed */

/* To the Top Opened */
.back_to_top{
  position: fixed;
  bottom: 30px;
  right: 15px;
  font-size: 20px;
  text-align: center; 
}

/* To the Top Closed */

.zoom {
  transition: transform 1s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}